<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Media Player{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/logo.png')}}" />
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/dataTables.bootstrap4.min.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    {% include 'elements/navbar.html.twig' %}
{% endblock %}

{% include 'elements/alert.html.twig' %}

<main class="container">
    {% block body %}{% endblock %}
</main>

{% block footer %}
    {% include 'elements/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.4.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/all.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
