{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ page_name }}{% endblock %}

{% block body %}
    <div class="jumbotron mt-2">
        <h1 class="text-center display-4 lead">{{ page_name }}</h1>

        {{ form_start(formUser) }}
            {{ form_errors(formUser) }}
            {{ form_row(formUser.password) }}
            {{ form_row(formUser.passwordConfirm) }}
            {{ form_row(formUser.Send) }}
        {{ form_end(formUser) }}

    </div>
{% endblock %}